.col-lg-3.pull-right
  .row
    .small-gutter.text-right
      .input-group
        input.form-control#search-input(type='text', placeholder="Search in posts ...")
        .input-group-btn
          button.btn.btn-info#search-btn(tabindex='-1', type='button', title="Search for the input")
            i.icon-search

