extends ../layout

block content

  h2.page-headline Posts
    include _search

  - if ('undefined' !== typeof posts && posts.length > 0)

    table.table.table-bordered.table-striped.datagrid.small-bottom-margin
      thead
        tr
          th Status
          th(data-property="slug") Slug
          th(data-property="title") Title
          th(data-property="content") Content
          th.no-wrap(data-property="created_at") Created at
          th Operations
      tbody
        include _index_rows

    include _pagination

  - else

    p No posts present.

  include _scripts

