extends ../layout

block content

  if (null !== post)

    .row
      .col-lg-8

        h3.headline= post.title
        .content.text-justify !{post.content}

      .col-lg-4
        include ../layout/_sidebar
        include _post_meta

    .row
      .col-lg-12
        include ./comments/index

  else

    - var entity = 'Post'
    include ../error/notfound

