/**
 * @package Greppy blog main stylesheet
 *
 * @tableofcontents
 * 1. General Styles
 * 2. Login
 * 3. Forms
 * 4. ACE Editor
 * 5. Misc
 * 6. Blog
 **/

/**
 * @section 1. General Styles
 *
 * General styles which are valid for all or most of the pages.
 **/
#avatar{margin-top:-1px;border:1px solid #fff;border-radius:4px}
#avatar-a{height:50px;padding:10px;display:block}


/**
 * @section 2. Login
 **/
.form-signin { max-width: 330px; padding: 15px; margin: 0 auto; background-color: #EEEEEE; border: 1px solid rgb(227, 227, 227); border-radius: 4px; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset; margin-top: 70px; text-align: center; }
.form-signin .form-signin-heading, .form-signin .checkbox { margin-bottom: 10px; }
.form-signin-heading { margin-top: 0px; }
.form-signin .form-control { position: relative; font-size: 16px; height: auto; padding: 10px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.form-signin .form-control:focus { z-index: 2; }
.form-signin input[type="text"] { margin-bottom: -1px; border-bottom-left-radius: 0; border-bottom-right-radius: 0; }
.form-signin input[type="password"] { margin-bottom: 10px; border-top-left-radius: 0; border-top-right-radius: 0; }


/**
 * @section 3. Forms
 *
 * Styles for the form elements and everything associated with them.
 */

/* Styles for invalid elements - taken from bootstrap v2 */
input:focus:invalid, textarea:focus:invalid, select:focus:invalid{color:#b94a48;border-color:#ee5f5b}
input:focus:invalid:focus, textarea:focus:invalid:focus, select:focus:invalid:focus{border-color:#e9322d;-webkit-box-shadow:0 0 6px #f8b9b7;-moz-box-shadow:0 0 6px #f8b9b7;box-shadow:0 0 6px #f8b9b7}.form-actions{padding:19px 20px 20px;margin-top:20px;margin-bottom:20px;background-color:#f5f5f5;border-top:1px solid #e5e5e5;*zoom:1}.form-actions:before,.form-actions:after{display:table;line-height:0;content:""}


/**
 * @section 4. ACE Editor
 *
 * Styles for the ACE editor.
 **/


/**
 * @section 5. Misc
 *
 * Everything which doesn't fit anywhere else.
 **/
.flash-container{padding-top:51px}
.flash-container .alert{margin-bottom:0;border-radius:0;border-left-width:0;border-right-width:0}


/**
 * @section 6. Blog
 *
 * Everything which styles up blog components.
 **/
.sidebar { padding: 0px 0px 10px 25px; border-left: 3px solid rgb(221, 221, 221); }
.headline { border-bottom: 1px solid rgb(221, 221, 221); padding-bottom: 5px; }
.clickable { cursor: pointer; }

.archive .list-group-item-text a { margin: 5px 5px 0 0; }
.archive .list-group-item-heading { margin-bottom: 0px; }
.archive .list-group-item-text { margin-top: 5px; }

.navbar-form { padding-right: 0px; margin-left: 10px; }
.navbar-collapse { padding-right: 0px; }

.postList, .commentList{padding-left:0;margin-top:16px;list-style-type:none}
.post h4, .post p, .comment h4, .comment p{margin:0}
.post h4 a:hover{text-decoration:none}
.commentArea{width:90%;float:right}

