extends ../layout

block content

  h2.page-headline Users
    include _search

  - if ('undefined' !== typeof users && users.length > 0)

    table.table.table-bordered.table-striped.datagrid.small-bottom-margin
      thead
        tr
          th Status
          th(data-property="fullname") Fullname
          th(data-property="email") Email
          th.no-wrap(data-property="created_at") Created at
          th Operations
      tbody
        include _index_rows

    include _pagination

  - else

    p No users present.

  include _scripts

