extends ../layout

block content

  - if (null !== comment)

    h2.page-headline Edit comment details
      .pull-right
        include _operations

    br
    include _form

  - else

    - var entity = 'Comment'
    include ../error/notfound

