!!!
html
  head
    include layout/_meta
    title Greppy Application Framework

  body
    include layout/_navigation

    .container.marketing
      block content
      include layout/_foot

    include layout/_scripts

