!!!
html
  head
    include layout/_meta
    title Greppy Application Framework

  body
    include layout/_navigation

    .container
      block content
      include layout/_foot

    include layout/_scripts
    include layout/_ga

