hr.featurette-divider

.row.anchor.margin-bottom-grande
  .row
    .col-lg-12
      .text-center
        img(alt="Greppy Contributors", src="/modules/home/img/greppy-contributors.png").margin-bottom-medium

  p.text-center.medium We got no contributions yet.

