extends ../layout

block content

  h1
    i.fa.fa-th.fa-border-circle.text-muted
    |  Imprint

  p.
    The provider of this website is Hermann Mayer.

  br

  table.table.table-striped
    tr
      td Address
      td.
        Friedrich-Bosse-Str. 39
        04159 Leipzig

    tr
      td Phone
      td +49 341 5806 7458

    tr
      td E-Mail
      td
        a(href="mailto:root@hermann-mayer.net") root@hermann-mayer.net

