extends ../layout

block content

  include js/_navbar_scrolling
  include js/_easter_egg

  .marketing.greppy
    a(name="greppy")
    include fw/_subnav
    include fw/_header
    include fw/_features

  .marketing.greppy-frontend
    a(name="greppy-frontend")
    include fe/_subnav
    include fe/_header
    include fe/_features

  .marketing.greppy-gang
    a(name="greppy-gang")
    include gang

  .marketing.greppy-contributors
    a(name="greppy-contributors")
    include contributors

