.row.text-center.margin-bottom-small
  .col-lg-6
    img.img-thumbnail(style="margin-right: 10px", src="https://2.gravatar.com/avatar/9168cae942024acd00a8fce115189add?s=100")
    h3 Hermann Mayer
    p
      | Role: Project maintainer &amp; Lead developer
    p
      | Github profile:&nbsp;
      a(target="_blank", href="https://github.com/Jack12816")
        i.fa.fa-github
        |  Jack12816

  .col-lg-6
    img.img-thumbnail(style="margin-right: 10px", src="https://2.gravatar.com/avatar/bed87934d3b5f61e8d60dd999bf28dd4?s=100")
    h3 Patrick Jaksch
    p
      | Role: Deputy maintainer &amp; Core developer
    p
      | Github profile:&nbsp;
      a(target="_blank", href="https://github.com/DeadlySilence")
        i.fa.fa-github
        |  DeadlySilence

.row.text-center
  .col-lg-4
    img.img-thumbnail(style="margin-right: 10px", width="110", src="https://2.gravatar.com/avatar/0864368849d323dba73feca513ab25d2?s=100")
    h3 Lars Dietrich
    p
      | Role: Quality assurance &amp; Core developer
    p
      | Github profile:&nbsp;
      a(target="_blank", href="https://github.com/killmag10")
        i.fa.fa-github
        |  killmag10

  .col-lg-4
    img.img-thumbnail(style="margin-right: 10px", src="https://2.gravatar.com/avatar/2f881d0cb77dfb17838f598475d2096f?s=100")
    h3 Nabil Krause
    p
      | Role: Frontend designer &amp; Core developer
    p
      | Github profile:&nbsp;
      a(target="_blank", href="https://github.com/nabil1337")
        i.fa.fa-github
        |  nabil1337

  .col-lg-4
    img.img-thumbnail(style="margin-right: 10px", width="110", src="http://2.gravatar.com/avatar/c5fe506c34450778b7e892a05473ca07?s=100")
    h3 Ralf Grawunder
    p
      | Role: Core developer
    p
      | Github profile:&nbsp;
      a(target="_blank", href="https://github.com/R2-G2")
        i.fa.fa-github
        |  R2-G2

