extends ../../layout

block content

  h2.page-headline Comments
    include _search

  - if ('undefined' !== typeof comments && comments.length > 0)

    table.table.table-bordered.table-striped.datagrid.small-bottom-margin
      thead
        tr
          th.text-center(title="Deletion status")
            i.icon-trash
          th(data-property="title") Title
          th(data-property="content") Content
          th(data-property="email") Email
          th(data-property="created_at") Created at
          th
            i.icon-wrench
            |  Operations
      tbody
        include _index_rows

    include _pagination

  - else

    p No comments present.

  script.

    /**
     * Build DataGrid instances for the whole index page
     */
    var datagrid = new greppy.DataGrid($('table.datagrid'), {
      softDeletion: true
    });

