if ('undefined' === typeof entity)
  - entity = 'Page'

.row
  .col-lg-2
    a(href="/", title="Back to home")
      i.fa.fa-times.fa-6x.fa-border-circle.text-info

  .col-lg-10
    .text-left
      h1 #{entity} was not found
      hr
      p We apologize for any inconvenience.

