doctype
html(lang='en')
  head
    include layout/_meta
    title Greppy Documentation

  body

    #wrap
      include layout/_navigation

      #content.container
        block content

    footer#footer
      include layout/_foot

    include layout/_scripts

