hr.featurette-divider
footer
  p.pull-right
    a(href='#')
      i.icon-circle-arrow-up
      |  Back to top
  p
    | © 2013 Greppy Crew
    &nbsp;&bull;&nbsp;
    a(href='/imprint') Imprint
    &nbsp;&bull;&nbsp;
    a(href='/terms') Terms

