extends ../layout

block content

  h1
    i.img-circle.icon-question-sign
    |  About Greppy

  h3 What is Greppy

  p.
    Greppy is a top layer framework which builds upon
    the Express framework. It extends the functionality
    of Express and increases the reuseability of common
    parts from your application. Further it standardizes
    an application directory structure which helps you to
    manage large code bases.
    But this is only the tip of the iceberg.

  h3 Features

  ul
    li
      h4 Application structure.
      | Well structured application hierarchy

    li
      h4 Model-View-Controller is not enough.
      | Greppy lets you organize your application into contexts and modules

    li
      h4 Generic data persistence.
      | Easy integration of MySQL or MongoDB backends, plain connections or with ORM's

    li
      h4 Easy to configure and extend.
      | Support of extensions, convention-over-configuration and many abilities to hook into our framework

    li
      h4 Scalability matters.
      | Just build Cloud/Cluster software with multi-threading support - out of the box

  h3 Further Reading

  ul
    li
      | Documentation under&nbsp;
      a(target="_blank", href="http://greppy.org/docs") greppy.org/docs

    li
      | Code under&nbsp;
      a(target="_blank", href="https://github.com/Jack12816/greppy") github.com/Jack12816/greppy

