extends ../layout

block content

  h1
    i.img-circle.icon-question-sign
    |  About Greppy

  h2 What is Greppy

  p.
    Greppy is a top layer framework which builds upon
    the Express framework. It extends the functionality
    of Express and increases the reuseability of common
    parts from your application. Further it standardizes
    an application directory structure which helps you to
    manage large code bases.
    But this is only the tip of the iceberg.

  h2 Features

  h3
    i.icon-folder-open
    |  Application structure

  p.
    Well structured application hierarchy, read on
    the <a target="_blank" href="/docs/guide.html#structure">documentation</a>.

  h3
    i.icon-code
    |  Model-View-Controller is not enough

  p.
    Greppy lets you organize your application into contexts and modules,
    where you put your MVC. <a target="_blank" href="/docs/guide.html#model-module-controller-view">Here</a>
    you can find out how it works.

  h3
    i.icon-cloud
    |  Generic data persistence

  p.
    Easy integration of MySQL or MongoDB backends, plain connections or with ORM's.
    Examples of models, migrations and even fixtures you can find <a target="_blank" href="/docs/guide.html#backend-management">here</a>.

  h3
    i.icon-puzzle-piece
    |  Easy to configure and extend

  p.
    Support of extensions, convention-over-configuration and many abilities to hook into our framework.

  h3
    i.icon-sitemap
    |  Scalability matters

  p.
    Just build <a target="_blank" href="/docs/guide.html#cluster">Cloud/Cluster</a> software with multi-threading support - out of the box.


  h3
    i.icon-magic
    |   Rapid Prototyping

  p.
    Simply generate your application scaffold, even with CRUD controllers. Find out how
    to ease your daily work with our <a target="_blank" href="/docs/guide.html#scaffolding">scaffolding solution</a>.

  h2 Further Reading

  ul
    li
      | Documentation under&nbsp;
      a(target="_blank", href="http://greppy.org/docs") greppy.org/docs

    li
      | Code under&nbsp;
      a(target="_blank", href="https://github.com/Jack12816/greppy") github.com/Jack12816/greppy

