extends ../layout

block content

  h1
    i.img-circle.icon-group
    |  Greppy Crew

  br
  .row
    img.pull-left.img-thumbnail(style="margin-right: 10px", src="https://2.gravatar.com/avatar/9168cae942024acd00a8fce115189add?s=100")
    h3 Hermann Mayer
    p
      | Role: Project maintainer &amp; lead developer
    p
      | Github profile:&nbsp;
      a(target="_blank", href="https://github.com/Jack12816")
        i.icon-github
        |  Jack12816

  hr

  .row
    img.pull-left.img-thumbnail(style="margin-right: 10px", src="https://2.gravatar.com/avatar/bed87934d3b5f61e8d60dd999bf28dd4?s=100")
    h3 Patrick Jaksch
    p
      | Role: Core developer
    p
      | Github profile:&nbsp;
      a(target="_blank", href="https://github.com/DeadlySilence")
        i.icon-github
        |  DeadlySilence

  hr

  .row
    img.pull-left.img-thumbnail(style="margin-right: 10px", width="100", src="https://identicons.github.com/997282164720826035d5d7e4b6db82a9.png")
    h3 Lars Dietrich
    p
      | Role: Core developer
    p
      | Github profile:&nbsp;
      a(target="_blank", href="https://github.com/killmag10")
        i.icon-github
        |  killmag10

  hr

  .row
    img.pull-left.img-thumbnail(style="margin-right: 10px", width="100", src="https://identicons.github.com/5bda5523971ff77593ae4b9d1e357f1d.png")
    h3 Ralf Grawunder
    p
      | Role: Project maintainer &amp; lead developer
    p
      | Github profile:&nbsp;
      a(target="_blank", href="https://github.com/R2-G2")
        i.icon-github
        |  R2-G2

