.container
  p.text-muted.credit

    p.pull-right
      a(href="#top")
        i.fa.fa-arrow-circle-up
        |  Back to top

    .pull-left
      a(target="_blank", href="https://github.com/Jack12816")
        img#footer-logo(src="/img/signature.png", alt="Jack's Signature")

    .branding-info.pull-left
      h3.branding-head Greppy Framework
      | &copy; 2013 Greppy Gang
      |&nbsp;&bull;&nbsp;
      a(target="_blank", href="#{app.linkContext('home', '/imprint')}") Imprint
      |&nbsp;&bull;&nbsp;
      a(target="_blank", href="#{app.linkContext('home', '/terms')}") Terms

