meta(charset="utf-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(name="author", content="Hermann Mayer, Greppy Gang")
meta(name="google-site-verification", content="hX4u82Qo9l0akYMB3VwDfQCMJsgIf36EGsGEkJ4rRWA")

link(rel="icon", href="/favicon.ico", type="image/x-icon")
link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,300", rel="stylesheet", type="text/css")
link(href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400", rel="stylesheet", type="text/css")

if ('production' === app.env)
  link(rel="stylesheet", href="/build/default.min.css?version=#{package.version}")
  script(src="/build/default.min.js?version=#{package.version}")
else
  link(rel="stylesheet", href="/components/bootstrap/dist/css/bootstrap.min.css")
  link(rel="stylesheet", href="/components/font-awesome/css/font-awesome.min.css")
  link(rel="stylesheet", href="/css/app.css")
  link(rel="stylesheet", href="/css/marketing.css")
  link(rel="stylesheet", href="/modules/home/css/app.css")
  script(src="/components/jquery/jquery.min.js")

