.featurette.row
  .col-lg-12
    p.medium
      i.fa.fa-quote-left.fa-3x.pull-left.fa-border.text-muted

      | Greppy is a top layer <a target="_blank" href="http://nodejs.org/">node.js</a>
      | framework utilising the <a target="_blank" href="http://expressjs.com">Express</a> framework. Greppy
      | extends the functionality of Express and increases the reuseability for
      | common parts of your application. Furthermore it standardizes an application
      | directory structure which helps you to manage large code bases.

