// hr.featurette-divider

.row.anchor
  .col-lg-12
    .text-center
      img(alt="Greppy", src="/modules/home/img/greppy.png").margin-bottom-medium
.row
  .col-lg-4
    a(href="#explore")
      i.fa.fa-search.fa-4x.fa-border-circle.text-muted
    h2 Explore
    p
      | Explore Greppy's possibilities and get excited for more!
      | You will be surprised how easy it is to build a fully
      | working high availability cluster application.
    p
      a.btn.btn-default(href="#explore") View details »

  .col-lg-4
    a(href="#getting-started")
      i.fa.fa-rocket.fa-4x.fa-border-circle.text-muted
    h2 Get Started
    p
      | Prepare yourself for Greppy. Learn how to use it by it's
      | great getting started guide, detailed examples, and
      | completive API documentation.
    p
      a.btn.btn-default(href="#getting-started") View details »

  .col-lg-4
    a(href="#contribute")
      i.fa.fa-code.fa-4x.fa-border-circle.text-muted
    h2 Contribute
    p
      | Greppy is an open source project licensed under the LGPLv3.
      | Everyone can fork it on Github and contribute to the project
      | by sending pull requests.
    p
      a.btn.btn-default(href="#contribute") View details »

