extends ../../layout

block content

  if (null !== post)

    h2.page-headline.bottom-border Edit post details
      .pull-right
        include _operations

    br
    include _form

  else

    - var entity = 'Post'
    include ../../error/notfound

