extends ../layout

block content

  .description
    h2
      | This is the&nbsp;
      code blog
      |  module.&nbsp;
      span.text-muted Take a look.
    p.lead.
      In this module a simple CRUD (Create-Read-Update-Delete) controller was built.
    p.
      It is the requirement for any scaffolding implementation.

    h2 Blog overview

    ul.postList
      each post in posts
        li.jumbotron.post
          h3
            a(href="/index/" + post.slug)= post.title
          div= post.content