extends ../layout

block content

  style.
    #content{padding-top:151px !important}

  .row
    .col-lg-6.text-center
      i.icon-cogs.icon-10x
      h1 Framework
      p
        a.btn.btn-default(target="_blank", href="/framework") Read the docs »

    .col-lg-6.text-center
      i.icon-code.icon-10x
      h1 Frontend
      p
        a.btn.btn-default(target="_blank", href="/frontend") Read the docs »

