a(name="datagrid")
hr.featurette-divider
.featurette
  img.featurette-image.img-thumbnail.pull-right(src="/modules/home/img/home/datagrid.png")
  h2.featurette-heading.anchor
    | Data-Grid.&nbsp;
    span.text-muted Searchable, sortable, paginateable.
  p.lead.
    Loading only the data which is currently needed, will save you bandwidth and
    is lightning fast.
    Having a clean, feature-rich UI will ease your work.
  p
    | Just read more on the GitHub&nbsp;
    a(target="_blank", href="https://github.com/Jack12816/greppy-demo") project page
    | .

a(name="commons")
hr.featurette-divider
.featurette
  img.featurette-image.img-thumbnail.pull-left(src="/modules/home/img/home/commons.png")
  h2.featurette-heading.anchor
    | Commons.&nbsp;
    span.text-muted Easy modals, styling and input sanitation.
  p.lead.
    Well thought out extensions to Bootstrap will make your frontend even more powerful.
    Stop wasting your time on problems we already solved!
  p
    | Study our concepts and learn all you need to write your own
    | Greppy-based application. The quickest way is via our&nbsp;
    a(target="_blank", href="/docs") documentation
    | .

a(name="bindings")
hr.featurette-divider
.featurette
  img#graken.featurette-image.img-thumbnail.pull-right(src="/modules/home/img/home/bindings.png")
  h2.featurette-heading.anchor
    | Greppy Bindings.&nbsp;
    span.text-muted Use Greppy resources, routing, interaction.
  p.lead.
    You strive for full power? Greppy Frontend is designed to fit pefectly into
    Greppy and allows you to create stunning CRUD-applications in no time.
  p
    | If you plan to extend Greppy, the easiest way
    | would be to open an issue and discuss it. For feature requests it
    | would be the same. So take a look at&nbsp;
    a(target="_blank", href="https://help.github.com/articles/fork-a-repo") GitHub
    | .

