a(name="greppy-frontend-about")
.featurette.row
  .col-lg-12
    p.medium
      i.fa.fa-quote-left.fa-3x.pull-left.fa-border.text-muted

      | The Greppy frontend library extends <a target="_blank" href="http://getbootstrap.com/">Bootstrap</a>.
      | It provides classes for simple handling of modals, a complete data grid
      | implementation with AJAX-based search, sorting and pagination. It also
      | includes many bindings to the Greppy Framework.

