a(name="greppy-frontend-about")
.featurette.row
  .col-lg-12
    p.medium
      i.fa.fa-quote-left.fa-3x.pull-left.fa-border.text-muted

      | The Greppy frontend library is an UI extension to the
      | <a target="_blank" href="http://getbootstrap.com/">Twitter Bootstrap</a>.
      | It provides classes for simple handling of modals, an complete
      | data grid implementation with searching, sorting and pagination based on
      | AJAX, and many bindings to the Greppy framework.

