hr.featurette-divider

.featurette.anchor
  .row
    .col-lg-12
      .text-center
        img(alt="Greppy Frontend", src="/modules/home/img/greppy-frontend.png").margin-bottom-medium
  .row
    .col-lg-4
      i.fa.fa-th.fa-4x.fa-border-circle.text-muted
      h2 Data-Grid
      p.
        Performant. Flexible. Awesome. Build CRUD-pages in minutes which not
        only are good looking, but also provide great performance through
        clever AJAX.
      p
        a.btn.btn-default(href="#datagrid") View details »

    .col-lg-4
      i.fa.fa-star.fa-4x.fa-border-circle.text-muted
      h2 Commons
      p.
        Offering some neat features like modals, event-based overlays and easy
        applicable styling for elements, Commons will make you happy.
      p
        a.btn.btn-default(href="#commons") View details »

    .col-lg-4
      i.fa.fa-link.fa-4x.fa-border-circle.text-muted
      h2 Greppy Bindings
      p.
        Unleash the power! In conjunction with Greppy you can create mind-blowing
        CRUD-aplications within minutes. What are you waiting for? Give it a shot!
      p
        a.btn.btn-default(href="#bindings") View details »

